html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu {
    width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    gap: 20px; 
}

.kolom-utama {
    flex: 2;
    order: 2;
    background-color: #f8e1a1;
    padding: 20px;
}

.sidebar-satu {
    flex: 1;
    order: 1;
    background-color: #a8d8ff;
    padding: 20px;
}

.sidebar-dua {
    flex: 1;
    order: 3;
    background-color: #c7aef5;
    padding: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
